<header id="Header">
    <h1 id="FilmopédiaTitle">Filmopédia</h1>
    <div id="topRight">
        <div id="searchZone">
            <img src="./assets/searchIcon.png" id="searchIcon">
            <textarea id="searchArea" oninput="searchAreaChanging()"></textarea>
        </div>
        <div id="recommandation">
        </div>
    </div>
</header>