<p id="trendingText">Most popular Movies</p>
<div class="trendingMovies">
    <% for(var i =0;i<allNameArray.length;i++){%>
        <div>
            <p> <%= allNameArray[i] %> <p>
            <img src="<%= allLinkArray[i] %>" class="trendingMoviesPicture">
        </div>
    <%}%>
    <% for(var i =0;i<allNameArray.length;i++){%>
        <div>
            <p> <%= allNameArray[i] %> <p>
            <img src="<%= allLinkArray[i] %>" class="trendingMoviesPicture">
        </div>
    <%}%>
</div>